p{
    color:blue;
    font-family: sans-serif;
    /* px, em, % */
    font-size: 150%; /* makes it a bigger size*/
    font-style: italic; /* mostly do not use this, more inline */
    font-weight: 900; /* bolds it */
}

table{
    background-color: purple;
}

div{
    color: pink;
}